body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* ------------------------------------------------------App component----------------------------------------------------------------------- */
.wallpaper {
  height: 99.8vh;
  width: 99.8vw;
  background-size: cover;
  position: fixed;
  z-index: -5;
  opacity: 0.7;
  margin-top: -2%;
}

/* ------------------------------------------------------Loader component(Loading spinner)----------------------------------------------------- */

.loading-back {
  background-color: #00796b;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



.load {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spin {
  background-color: #00000020;
  height: 100px;
  width: 100px;
  border-radius: 100px;
  border: 5px solid #00000000;
  border-top: 5px solid #ffffff;
  animation: loading 2s linear infinite;
}

.loading {
  position: absolute;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}



/* ------------------------------------------------------New Task component----------------------------------------------------------------------- */

.newTask{
  background-color: rgb(131, 66, 177);
  width: 85%;
  padding-left: 15%;
  color: aliceblue;
  border-radius: 10px;
  position: fixed;
  margin-top: -5%;
  z-index: 0;
 
 }
 
 
 .newCard{
   width: 100%;
   display: flex;
   flex-direction: row;
   display: flex;
   justify-content: space-around;
 }

/* ----------------------------------------------------add css in the input------------------------------------------------------------------- */

 .input{
  min-width: 10%;
  margin-left: -10%;
}
.input input{
  padding-left: 10px;
  padding-right: 10px;
  height: 70%;
  width: 200%;
}
.newInput{
  width: 110%;
  /* margin-right: 5%; */
  margin-left: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-width: 0px;
}
/* ------------------------------------------------input-btn------------------------------------------------------------------------------------- */

.input-btn{
  height: 30px;
  margin-top: 13px;
  margin-bottom: 15px;
  /* margin-right: 8px; */
  background-color: rgba(123, 57, 9,0.2);
  color: rgb(255, 255, 255);
  margin-left: 10px;
  width: 90px;
  border-radius: 10px;
}

.input-btn:hover{
  background-color: rgb(123, 57, 9);
  border: none;
  transition: 500ms;
}

/* ---------------------------------------------------------copyRight------------------------------------------------------------------------ */

.cpy{
  margin-top: 12px;
  min-width: 30%;
}

.copy-right{
  color: black;
  margin-top: 100%;
  margin-right: 20px;
}

.copy-right a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}



/* -------------------------------------------------------TaskCard Component---------------------------------------------------------------- */

 
.card{
  background-color: rgba(101, 168, 227,.40);
  border: 1px dashed grey;
  border-radius: 10px;
  margin-left: 15%;
  width: 80%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  z-index: 0;

}

.card:hover{
  background-color: rgba(101, 168, 227,.9);
  border: 1px dashed black;
  border-radius: 20px;
  transition: 1000ms;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 20px;
  /* -webkit-text-stroke: 1px rgb(0, 0, 0); */
}



/* --------------------------------------------------------------------task Showing------------------------------------------------------------- */


.task{
  width: 70%;
  padding-left: 2px;
  margin-top: 15px; 
  margin-left: 15px; 
  margin-bottom: 15px;
}


.action{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  margin-right: 5% ;
  width: 20%;
  margin-left: 10%;
  padding-left: 10px;
  
}





.taskInput{
  width: 70%;
  padding-left: 2px;
  margin-top: 30px; 
  background: none;
  margin-left: 15px; 
  border-radius: 10px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.taskText{
  width: 99.5%;
  padding-left: 2px;
  margin-left: -2px; 
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  height: 40px;
}

/* ---------------------------------------------------------update-btn------------------------------------------------------------------------- */

.update-btn{
  margin-top: 10px;
  background: rgba(181, 43, 181,0.5);
  border: none;
  color: black;
  border-radius: 5px;
  padding: 10px;
}

.update-btn:hover{
  background-color: rgba(0, 93, 9, 0.8);
  border:1px dashed rgb(0, 0, 0) ;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px;
  transition: 500ms;

}

/* ----------------------------------------------------------------------delete-btn------------------------------------------------------------ */

.delete-btn{
  margin: 10px 0 10px;
  background: rgba(181, 43, 181,0.5);
  border: none;
  color: black;
  border-radius: 5px;
  padding: 10px;
}

.delete-btn:hover{
  background: red;
  border-radius: 10px;
  border: 1px dashed black;
  color: white;
  transition: 500ms;
}



.newTaskHead{
  margin-top: 15px;
  width: 22%;
}


.main-card{
  margin-top: 5%;
}



.completed{
  background-image: url("https://clickup.com/blog/wp-content/uploads/2019/01/to-do-list-apps.png");
}


.pending{
  background-image: url("https://user-images.githubusercontent.com/61280281/99399723-0b3fa980-290c-11eb-8728-03d974be548d.png");
}